* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6ffe6; /* Daha açıq yaşıl rəng */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* h1 başlığının mərkəzə yerləşdirilməsi */
h1 {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.category {
    font-size: 0.9em;
    color: #007bff;
    margin-bottom: 5px;
}

.description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.created_at, .updated_at {
    font-size: 0.8em;
    color: #888;
}

.read-more {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #0056b3;
}
